bridge: eth0

provider: virtualbox

elk1:
  ip: 192.168.1.227

atahualpa1:
  ip: 192.168.1.228

chaski1:
  ip: 192.168.1.229

webdev1:
  ip: 192.168.1.230

orion1:
  ip: 192.168.1.231

git:
  userEmail: goofyahead@gmail.com
  name: Alex Vidal