elk1 ansible_ssh_host={{ elk1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key
atahualpa1 ansible_ssh_host={{ atahualpa1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key
chaski1 ansible_ssh_host={{ chaski1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key
chaski2 ansible_ssh_host={{ chaski2.ip }} ansible_ssh_user=vagrant ansible_ssh_private_key_file=sshkeys/openstack.key
webdev1 ansible_ssh_host={{ webdev1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key
consul1 ansible_ssh_host={{ consul1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key
orion1 ansible_ssh_host={{ orion1.ip }} ansible_ssh_user=centos ansible_ssh_private_key_file=sshkeys/openstack.key
connector1 ansible_ssh_host={{ connector1.ip }} ansible_ssh_user=ubuntu ansible_ssh_private_key_file=sshkeys/openstack.key

[consulServer]
consul1

[consulClient]
chaski1
chaski2
atahualpa1

[elk]
elk1

[atahualpa]
atahualpa1

[chaski]
chaski1
chaski2

[orion]
orion1

[connectorRest]
connector1
